node_modules/
hotstaq_modules/
db/
!creator/

public/hotstaq_modules/

.npmrc

.env*

slim.report.json

build/tests/

client/
tests/

create-test-temp/

build-web/HotStaqTests.js

./HotSite.json
./*.config.js
